<div class="ui-element currentPage" style="margin-top: 10px">
    <h5 class="center toprounder15"><span>%TITLE%</span></h5>
    <div class="mCustomScrollbar _mCS_18 mCS-autoHide ui-resizable mCS_no_scrollbar">
        <div id="%ID%_content_wrapper" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
            <div id="%ID%_content" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">

            </div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
    </div>
</div>