<div id="channelPreviewWrapper" class="border2 ui-element">
    <h5 style="text-align: center"></h5>
    <div id="channelPreviewActions">
        <span id="CPAReset" title="Mark as read" class="border2 ui-element fa fa-check sapphire cpa"></span>
        <span id="CPAPurge" title="Clear channel of all messages" class="border2 ui-element fa fa-eraser emerald cpa"></span>
        <span id="CPARemove" title="Clear the channel and remove it from tabs\nIf any new messages pop into it, it will come back." class="border2 ui-element fa fa-unlink ruby cpa"></span>
    </div>
    <div id="channelPreviewContent">
    </div>
    <div id="channelPreviewMessages" style="padding: 2px">
    </div>
</div>