<div id="channelTabContextMenu" class="ui-element navSection">
    <a id="chTabCTMenuMute" class="cctmButton"><span class="ui-element fa fa-bell-slash titanium"></span>Mute channel</a>
    <a id="chTabCTMenuUnMute" class="cctmButton"><span class="ui-element fa fa-bell platinum"></span>Un-mute channel</a>
    <a id="chTabCTMenuReset" class="cctmButton"><span class="ui-element fa fa-check sapphire"></span>Mark as read</a>
    <a id="chTabCTMenuLast" class="cctmButton"><span class="ui-element fa fa-history materials"></span>Show history</a>
    <a id="chTabCTMenuPurge" class="cctmButton"><span class="ui-element fa fa-eraser emerald"></span>Purge messages</a>
    <a id="chTabCTMenuRemove" class="cctmButton"><span class="ui-element fa fa-unlink ruby"></span>Remove from tabs</a>
    <a id="chTabCTMenuLeave" class="cctmButton"><span class="ui-element fa fa-arrow-right diamond"></span>Leave channel</a>
    <a id="chTabCTMenuColor" class="cctmButton"><span class="ui-element fa fa-crosshairs crystals"></span>Change color</a>
</div>
