<div id="debug" class="border2 ui-component roaext-debug-window">
    <div id="debugWindow" class="ui-element border2 roaext-module-window-content">
        <h5 id="debugWindowTitle" class="center toprounder">Debug</h5>
        <span class="closeModal"><a id="debugWindowClose">×</a></span>
        <div id="debugWindowContent" class="mCSB_container roaext-debug-window-content" style="height: 100%">
            <table id="debugWindowTable" class="sorted_table">
                <thead>
                <tr>
                    <th colspan="3">
                        Request History
                    </th>
                </tr>
                <tr>
                    <th>Url</th>
                    <th>Time</th>
                    <th>Data Sent</th>
                    <th>Data Received</th>
                </tr>
                </thead>
                <tbody id="debugWindowContentBody">
                </tbody>
            </table>
        </div>
    </div>
</div>