.roaext-gradient-background {
  background-image: linear-gradient(to bottom, #025251 0, #012625 100%);
}
.roaext-module-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.roaext-highlight {
  animation: pulsate-inner 0.5s infinite alternate;
}
.roaext-force-hide {
  display: none !important;
}
.roaext-force-block {
  display: block !important;
}
.roaext-table {
  display: table;
}
.roaext-table > * {
  display: table-row;
}
.roaext-table > * > * {
  display: table-cell;
  padding: 2px;
}
.roaext-link {
  text-decoration: underline;
  cursor: pointer;
}
.roaext-tip {
  border-bottom: 1px dotted;
}
.roaext-menu-shortcut {
  line-height: initial !important;
}
.roaext-menu-shortcut > svg {
  border: 1px solid;
  padding: 2px;
  width: 24px;
  height: 24px;
}
.roaext-menu {
  text-align: center;
}
.roaext-menu > :not(:last-child) {
  margin-right: 5px;
}
.roaext-menu a {
  display: inline-block !important;
  width: auto;
}
.roaext-menu-content {
  margin: 0;
  display: table;
  width: 100%;
  padding: 0;
}
.roaext-menu-content a {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none!important;
  line-height: 26px;
  border-top: 1px solid #01b0aa;
  background: #025251;
  width: 100%;
  background-image: -moz-linear-gradient(top, #025251 0, #012625 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0, #025251), color-stop(100%, #012625));
  background-image: -webkit-linear-gradient(top, #025251 0, #012625 100%);
  background-image: -o-linear-gradient(top, #025251 0, #012625 100%);
  background-image: -ms-linear-gradient(top, #025251 0, #012625 100%);
  background-image: linear-gradient(to bottom, #025251 0, #012625 100%);
}
.roaext-timer-input {
  background-image: linear-gradient(to bottom, #025251 0, #012625 100%);
}
.roaext-timer-input-time {
  background-image: linear-gradient(to bottom, #025251 0, #012625 100%);
  width: 20px;
}
.roaext-timer-checkbox {
  background-image: linear-gradient(to bottom, #025251 0, #012625 100%);
}
.roaext-timer-feedback {
  margin-top: 10px;
  font-size: large;
  text-align: center;
  color: red;
}
.roaext-timer-delete {
  text-decoration: none!important;
  margin-left: 1px;
}
.roaext-module-window-content {
  height: 100%;
}
.roaext-chart-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-chart-tab {
  width: 100%;
  height: 250px;
  top: 240px;
  position: absolute;
}
.roaext-chart-category-tab {
  width: 100%;
  height: 100%;
}
.roaext-dungeon-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-dungeon-window-content {
  overflow-y: scroll;
}
.roaext-debug-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-debug-window-content {
  overflow-y: scroll;
}
.roaext-note-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-gain-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-gain-window-content {
  overflow-y: scroll;
}
.roaext-gain-window-filter {
  float: left;
  width: 120px;
}
.roaext-gain-window-filter-last {
  width: 120px;
}
.roaext-settings-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-settings-window-content {
  overflow-y: scroll;
}
.roaext-time-editor-window {
  z-index: 9999;
  width: 800px;
  height: 500px;
  position: absolute !important;
  top: 0;
  left: 0;
}
.roaext-gain-filter-checkbox {
  background-image: linear-gradient(to bottom, #025251 0, #012625 100%);
}
table.roaext {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: small;
  font-weight: normal;
  width: auto;
}
table.roaext > thead > tr > *,
table.roaext > tbody > tr > * {
  border: 1px solid;
  padding: 2px;
  text-align: center;
}
ul.roaext {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
/*.bold {
  font-weight: bold;
}

.popover {
  background-color: rgba(0, 0, 0, 0.8);

  > .arrow {
    display: none
  }
}*/
